export(svgmaps)
export(as_svgmaps)
export(igeom_point)
export(igeom_path)
export(igeom_polygon)
export(igeom_tile)
export(add_interactivity)
export(add_keys)
export(view_svgmap)
export(save_svgmap)
import(grid)
import(proto)
import(plyr)
S3method(add_interactivity,points)
S3method(add_interactivity,gTree)
S3method(add_interactivity,polyline)

S3method(as_svgmap,osmar)
S3method(as_svgmap,SpatialPointsDataFrame)
S3method(as_svgmap,SpatialLinesDataFrame)
S3method(as_svgmap,SpatialPolygonsDataFrame)
S3method(as_svgmap,data.frame)
S3method(as_svgmap,default)
S3method(as_svgmap,NULL)
