export(add_interactivity)
export(as_svgmap)
export(igeom_path)
export(igeom_point)
export(igeom_polygon)
export(igeom_tile)
export(iopts)
export(is_svgmap)
export(save_svgmap)
export(svgmap)
export("+.svgmap")
import(grid)
import(gridSVG)
import(plyr)
import(proto)
import(reshape2)
S3method(add_interactivity,grob)
S3method(add_interactivity,points)
S3method(add_interactivity,zeroGrob)
S3method(as_svgmap,data.frame)
S3method(as_svgmap,default)
S3method(as_svgmap,"NULL")
S3method(as_svgmap,osmar)
S3method("+",svgmap)
