export(svgmaps)
export(as_svgmaps)
export(igeom_point)
export(igeom_path)
export(igeom_polygon)
export(igeom_tile)
export(add_interactivity)
export(add_keys)
export(view_svg)
export(save_svg)
import(grid)
import(proto)
import(plyr)
S3method(add_interactivity,points)
S3method(add_interactivity,gTree)
S3method(add_interactivity,polyline)

S3method(as_svgmaps,osmar)
S3method(as_svgmaps,SpatialPointsDataFrame)
S3method(as_svgmaps,SpatialLinesDataFrame)
S3method(as_svgmaps,SpatialPolygonsDataFrame)
S3method(as_svgmaps,data.frame)
S3method(as_svgmaps,default)
S3method(as_svgmaps,NULL)
